*{
margin:0%;
padding:0%;
font-family: Verdana, arial, Helvetica, Sans-serif;
text-decoration:none;
list-style-type:none;
color:#383838;
}

h2{
color:#52c0cb;
}

hr{
margin:1% 0% 3% 0%;
}

a{
filter: grayscale(100%);
}

a:hover{
filter:none;
}

.headertitle{
width:100%;
margin:0% auto;
padding:5% 0%;
text-align:center;
background-color:#52c0cb;
}

.headertitle h1{
color:#fff;
font-weight:300;
}

section{
width:80%;
margin:5% auto 10% auto;
}

.navheader{
width:80%;
margin:1% auto;
}

.navheader a{
margin-right:10px;
}

.navheader a:hover{
color:#52c0cb;
}

article{
display:flex;
flex-direction: row;
justify-content:space-between;
}

.navsection{
display:flex;
flex-direction:column;
width:25%;
} 

.navsection > div{
position: relative;
margin:1%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin-bottom: 1%;
}

.navsection img{
width:100%;
background-color:#fff;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.navsection:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


footer{
width:100%;
margin:0% auto;
padding:10% 0%;
text-align:center;
background-color:#52c0cb;

}




