*{
margin:0%;
padding:0%;
font-family: Verdana, arial, Helvetica, Sans-serif;
text-decoration:none;
list-style-type:none;
color:#383838;
}

h2{
color:#52c0cb;
}

hr{
margin:1% 0% 3% 0%;
}

a{
filter: grayscale(100%);
}

a:hover{
filter:none;
}

.headertitle{
width:100%;
margin:0% auto;
padding:5% 0%;
text-align:center;
background-color:#52c0cb;
}

.headertitle h1{
color:#fff;
font-weight:300;
}

section{
width:80%;
margin:5% auto 10% auto;
}

.navheader{
width:80%;
margin:1% auto;
}

.navheader a{
margin-right:10px;
}

.navheader a:hover{
color:#52c0cb;
}

.navsection{
display:flex;
flex-wrap: wrap;
align-items:center;
Justify-content:space-between;
} 

.image{
align-self:auto;
width:24%;
margin:1% 0px;
}

.image img{
width:100%;
background-color:#fff;
}


footer{
width:100%;
margin:0% auto;
padding:10% 0%;
text-align:center;
background-color:#52c0cb;

}

