*{
margin:0%;
padding:0%;
text-decoration:none;
list-style-type:none;
font-family:sans-serif;
background-color:#202020;
color:#f7f7f7;
}

#container{
	padding-top:8%; 
}

header{
	position: fixed;
	top:0;
	width: 100%;
	padding:1% 5%;
	
}

header #logo{
font-size:40pt;
font-weight:600;
}

nav{
padding:2% 0%;
}


section{
padding:1% 5% 1% 5%;
}

section article{
padding:1%;
}


footer{
padding-bottom:10%;
}


@media (max-width: 800px) { 

#container{
	padding-top: 20%;

 }
}

@media (max-width: 768px) { 

#container{
	padding-top: 20%;

 }
}

@media (max-width: 576px) { 

#container{
	padding-top: 35%;

 }


}


