*{
margin:0%;
padding:0%;
text-decoration:none;
list-style-type:none;
font-family:sans-serif;
color:#f7f7f7;
}

body{
  background-color:#202020;
}

#container{
	padding-top:8%; 
}

header{
	position: fixed;
	top:0;
	width: 100%;
	padding:0% 5%;
  z-index: 1;
}

header #logo{
font-size:40pt;
font-weight:600;
}

nav{
padding:2% 0%;
}

.bg-dark {
    background-color: #202020 !important;
}


section{
padding:1% 5% 1% 5%;
}

section article{
padding:1%;
}



footer{
padding-bottom:10%;
}

.containeroverlay{
position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #202020;
}

.text {
  color: white;
  background-color: #202020;
  font-size: 30px;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.containeroverlay:hover .overlay {
    opacity: 0.6;
}
.containeroverlay:hover .text{
    opacity: 1;
    background-color:transparent; 
}




@media (max-width: 800px) { 

#container{
	padding-top: 20%;

 }
}

@media (max-width: 768px) { 

#container{
	padding-top: 20%;

 }
}

@media (max-width: 576px) { 

#container{
	padding-top: 35%;

 }


}


